#waveForm{
	max-width: 500px;
}

.h4tch1, .bot .image {
    width: 120px;
    display: block;
    margin: 0 auto;
		z-index: 1;
		position: relative;
}
#botname {
    margin: 0 auto;
    display: block;
}
.logbox {
    padding: 10px;
    background-color: #f6f6f6;
    -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.bot p {
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    -webkit-box-shadow: #1f262e 0px 0px 0px 2px inset, rgb(255 255 255) 10px -10px 0px -3px, rgb(0 137 123) 10px -10px, rgb(255 255 255) 20px -20px 0px -3px, rgb(255 217 19) 20px -20px, rgb(255 255 255) 30px -30px 0px -3px, rgb(255 156 85) 30px -30px, rgb(255 255 255) 40px -40px 0px -3px, rgb(255 85 85) 40px -40px;
    box-shadow: #1f262e 0px 0px 0px 2px inset, rgb(255 255 255) 10px -10px 0px -3px, rgb(0 137 123) 10px -10px, rgb(255 255 255) 20px -20px 0px -3px, rgb(255 217 19) 20px -20px, rgb(255 255 255) 30px -30px 0px -3px, rgb(255 156 85) 30px -30px, rgb(255 255 255) 40px -40px 0px -3px, rgb(255 85 85) 40px -40px;
}
label {
    white-space: nowrap;
}
